# https://github.com/github/gitignore/blob/master/C.gitignore

#-------------------------------------------------------------------------------
# Backups
*~
.*~
*.orig

#-------------------------------------------------------------------------------
# VIM
.*.sw?

#-------------------------------------------------------------------------------
# This repo
#
# Temporary stuff I don't want in SCM
no_scm
*.tar
*.md5
Xilinx.lic
